<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loOSe.dtd">
<html>
    <head>
        <title>Laptop Price Predictor</title>
    </head>
    <body>
        <table>
        <form action="/predict" method="POST">
            	<tr>
            		<td><label for="RAM">RAM</label>
            		<td>
            			<select id="RAM" name="RAM">
            				<option value="">-- Select --</option>
            				<option value="4">4</option>
            				<option value="8">8</option>
            				<option value="12">12</option>
            				<option value="16">16</option>
            				<option value="32">32</option>
            				<option value="64">64</option>
            			</select>
            		</td>
            	</tr>
            	<tr>
            		<td><label for="HDD">HDD</label>
            		<td>
            			<select id="HDD" name="HDD">
            				<option value="">-- Select --</option>
            				<option value="0">0</option>
            				<option value="512">512</option>
            				<option value="1024">1024</option>
            				<option value="2048">2048</option>
            			</select>
            		</td>
            	</tr>
            	<tr>
            		<td><label for="SSD1">SSD1</label>
            		<td>
            			<select id="SSD1" name="SSD1">
            				<option value="">-- Select --</option>
            				<option value="0">0</option>
            				<option value="64">64</option>
            				<option value="128">128</option>
            				<option value="256">256</option>
            				<option value="512">512</option>
            				<option value="1024">1024</option>
            				<option value="2048">2048</option>
            			</select>
            		</td>
            	</tr>
            	<tr>
            		<td><label for="SSD2">SSD2</label>
            		<td>
            			<select id="SSD2" name="SSD2">
            				<option value="">-- Select --</option>
            				<option value="0">0</option>
            				<option value="256">256</option>
            				<option value="512">512</option>
            				<option value="1024">1024</option>
            				<option value="2048">2048</option>
            			</select>
            		</td>
            	</tr>
                <tr>
                	<td><label for="OS">Operating System</label></td>
                	<td>
                		<select id="OS" name="OS">
                			<option value="">-- Select --</option>
                			<option value="1">Windows 10 Home</option>
                			<option value="2">Windows 10 Pro</option>
                			<option value="3">FREE-DOS</option>
                		</select>
                	</td>
                </tr>
               <tr>
                    <td><label for="CHIPSET">CHIPSET</label></td>
                    <td>
                        <select id="CHIPSET" name="CHIPSET">
                            <option value="">-- Select --</option>
                            <option value="13">Gemini Lake Celeron N4000</option>
                            <option value="11">AMD-R7</option>
                            <option value="5">AMD-Ryzen-3</option> 
                            <option value="6">AMD-Ryzen-5</option> 
                            <option value="14">AMD-Ryzen-7</option> 
                            <option value="12">Celeron N4000</option> 
                            <option value="15">Intel i3 7th Gen</option> 
                            <option value="17">Intel i3 8th Gen</option> 
                            <option value="10">Intel i3 10th Gen</option> 
                            <option value="1">Intel i3 10th Gen - G1</option> 
                            <option value="20">Intel i5 6th Gen</option>
                            <option value="16">Intel i5 8th Gen</option>
                            <option value="7">Intel i5 9th Gen</option>
                            <option value="21">Intel i5 9th Gen - 9300</option>
                            <option value="22">Intel i5 9th Gen - 9400</option>
                            <option value="8">Intel i5 10th Gen</option>
                            <option value="2">Intel i5 10th Gen - G1</option>
                            <option value="3">Intel i5 10th Gen - G4</option>
                            <option value="9">Intel i7 8th Gen</option>
                            <option value="23">Intel i7 9th Gen - 9750</option>
                            <option value="24">Intel i7 9th Gen - 9850</option>
                            <option value="18">Intel i7 10th Gen</option>
                            <option value="4">Intel i7 10th Gen - G7</option>
                            <option value="19">Intel i7 11th Gen</option>               
                        </select>
                    </td>
                </tr>
                <tr>
                	<td><label for="SCREEN_SIZE">SCREEN Size</label></td>
                	<td>
                		<select id="SCREEN_SIZE" name="SCREEN_SIZE">
                			<option value="">-- Select --</option>
                			<option value="10">10.1</option>
                			<option value="13">13.3</option>
                			<option value="14">14.0</option>
                			<option value="15">15.6</option>
                		</select>
                	</td>
                </tr>
                <tr>
                	<td><label for="RESOLUTION">RESOLUTION</label></td>
                	<td>
                		<select id="RESOLUTION" name="RESOLUTION">
                			<option value="">-- Select --</option>
                			<option value="1">HD</option>
                			<option value="2">FHD</option>
                			<option value="3">FHD Touch</option>
                			<option value="4">HD Touch</option>
                			<option value="5">QHD</option>
                			<option value="6">WQHD</option>
                			<option value="7">WQHD Touch</option>
                			<option value="8">FHD HDR</option>
                			<option value="9">UHD</option>
                			<option value="10">UHD Touch</option>
                		</select>
                	</td>
                </tr>
                <tr>
                	<td><label for="GRAPHICS_CARD">Graphics</label></td>
                	<td>
                		<select id="GRAPHICS_CARD" name="GRAPHICS_CARD">
                			<option value="">-- Select --</option>
                			<option value="1">Integrated</option>
                			<option value="2">Integrated Vega 8</option>
                			<option value="3">GTX 1650</option>
                			<option value="4">GTX 1050</option>
                			<option value="5">MX 230</option>
                			<option value="6">Radeon Vega 8</option>
                			<option value="7">Intel UHD</option>
                			<option value="8">GTX 1650Ti</option>
                			<option value="9">Integrated AMD Radeon Vega 3</option>
                			<option value="10">Intel HD</option>
                			<option value="11">MX 230</option>
                			<option value="12">MX 110</option>
                			<option value="13">MX 250</option>
                			<option value="14">MX 150</option>
                			<option value="15">AMD Radeon 540</option>
                			<option value="16">940 MX</option>
                		</select>
                	</td>
                </tr>
                <tr>
            		<td><label for="GPU_MEMORY">Dedicated Graphics Memory</label>
            		<td>
            			<select id="GPU_MEMORY" name="GPU_MEMORY">
            				<option value="">-- Select --</option>
            				<option value="0">0</option>
            				<option value="2">2</option>
            				<option value="3">3</option>
            				<option value="4">4</option>
            			</select>
            		</td>
            	</tr>
                <tr><td><button type="submit">Submit</button></td></tr>
            </form>
    <br>

    {{ prediction_text }}
    
   </div>
    </body>
</html>