<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loOSe.dtd">
<html>
<head>
<title>Laptop Price Predictor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	function goDown() {
		console.log("hi");
		$("html, body").animate({
			scrollTop : $('html, body').get(0).scrollHeight-1036
		}, 2000);
	};
</script>

<style>

footer {
	background-color: black;
	height: 400px;
	background-image: url(img/footer-bg.jpg);
	background-size: 100%;
	background-position: 10% 50%;
}

.social-footer {
	width: 33%;
	margin: auto;
	height: 40%;
}

.social-footer:hover {
	background-color: black;
	opacity: .5;
}

.centr {
	width: 33%;
	margin: auto;
	padding-top: 60px;
}

.copyright {
	color: #ffffff;
	font-size: 1.1em;
	text-align: center;
	display: block;
	padding-top: 15px;
}

#arrow {
	height: 70px;
	width: 70px;
	padding-right: 14px;
}

.myBtn {
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 99;
	height: 40px;
	width: 40px;
	border-radius: 200px;
	cursor: pointer;
	background-image: url(img/down.jpg);
	background-size: 120%;
	background-position: 50% 50%;
}

.myBtn:hover {
	background-color: #555;
	display: block;
}

.white_font {
	color: #fffed8;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.form-rounded {
	border-radius: 1rem;
}

#home {
	background-color: #202020
}

#actv {
	font-weight: 600;
	font-size: 1.25em;
}

#pass {
	font-size: 1.25em;
	font-weight: 300;
}

#hlite {
	background-color: #000000;
	color: #ffffff;
	padding-left: 3px;
	padding-right: 5px;
	border-radius: 0.45rem;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-black navbar-dark"
		style="background-color:#000000"> <a class="navbar-brand"
		href="#"> <img src="img/pplogo-dark.png" alt="logo"
		style="width: 45px;">
	</a> <!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item active" style="width: 100px; padding: 0 auto;">
			<a class="nav-link text-center" href="/"><span id="actv">Home</span></a>
		</li>
		<li class="nav-item" style="width: 100px; padding: 0 auto;"><a
			class="nav-link text-center" href="/predict"><span id="pass">Result</span></a>
		</li>
	</ul>
	</nav>

	<div class="jumbotron text-center"
		style="margin-bottom: 0; padding-bottom: 100px; background-color: #e6e6ee">
		<h1 class="display-1" style="padding-bottom: 10px;">Laptop Price
			Predictor</h1>
		<h4 class="text-muted">
			<small>It's easier to understand what's going on with your
				money</small>
		</h4>
	</div>
	<div class="container-fluid" style="background-color: #e6e6ee">
		<div class="row align-items-center">
			<div class="col-sm-5" style="padding: 0">
				<div class="col" style="width: 60%; margin: auto; margin-left: 40%">
					<h1 class="font-weight-normal display-4"
						style="line-height: 1.5em;">Prediction</h1>
					<h3 class="text-muted font-weight-light" style="font-size: 1.5em;">
						It is done using <abbr class="text-decoration-none"
							title="Machine Learning"><span id="hlite">ML</span></abbr>
						algorithm backed by a huge database.
					</h3>
				</div>
			</div>
			<div class="col-sm-7" style="padding: 0">
				<img src="img/lap.jpg" class="rounded" style="float: right"
					height="592px" width="505px">
			</div>
		</div>
	</div>
	<div class="container-fluid" style="background-color: #e6e6ee">
		<div id="demo" class="carousel slide container" data-ride="carousel">

			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
			</ul>

			<!-- The slideshow -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/img1.png" alt="Los Angeles" width="1097" height="617">
				</div>
				<div class="carousel-item">
					<img src="img/img2.png" alt="Chicago" width="1097" height="617">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
		<br>

		<div style="text-align: center">
			<span class="dot" onclick="currentSlide(1)"></span> <span class="dot"
				onclick="currentSlide(2)"></span>
		</div>
	</div>
	<div class="progress"
		style="margin-top: 0px; border-radius: 0; background-color: #202124">
		<div id="prog" class="progress-bar bg-light"
			style="width: 0%; height: 10px;"></div>
	</div>
	<div class="container-fluid"
		style="background-color: #202124; padding-top: 20px; padding-bottom: 50px;">
		<div class="container">

			<button onclick="goDown()" class="myBtn" title="Go to Form"></button>

			<form action="/predict" style="background-color: #202124;"
				method="POST">

				<div class="row" style="margin-bottom: 2.4%;">
					<div class="col">
						<label class="white_font control-label col-sm" for="RAM">RAM<sup
							style="color: red">*</sup></label> <select required="true" id="RAM"
							name="RAM" class="form-control custom-select "
							style="border-radius: 1.25rem; background-color: #fffed8;"
							onchange="myFunction1()">
							<option value="">-- Select --</option>
							<option class="blk" value="4">4</option>
							<option value="8">8</option>
							<option value="12">12</option>
							<option value="16">16</option>
							<option value="32">32</option>
							<option value="64">64</option>
						</select>
					</div>

					<div class="col">
						<label class="white_font control-label col-sm" for="HDD">HDD<sup
							style="color: red">*</sup></label> <select required="true" id="HDD"
							name="HDD" onchange="myFunction2()"
							class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="0">None</option>
							<option value="512">512 GB</option>
							<option value="1024">1 TB</option>
							<option value="2048">2 TB</option>
						</select>
					</div>
				</div>

				<div class="row" style="margin-bottom: 2.4%;">
					<div class="col">
						<label class="white_font control-label col-sm" for="SSD1">SSD1<sup
							style="color: red">*</sup></label> <select required="true" id="SSD1"
							name="SSD1" onchange="myFunction3()"
							class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="0">0</option>
							<option value="64">64</option>
							<option value="128">128</option>
							<option value="256">256</option>
							<option value="512">512</option>
							<option value="1024">1024</option>
							<option value="2048">2048</option>
						</select>
					</div>

					<div class="col">


						<label class="white_font control-label col-sm-2" for="SSD2">SSD2<sup
							style="color: red">*</sup></label> <select required="true" id="SSD2"
							name="SSD2" onchange="myFunction4()"
							class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="0">0</option>
							<option value="256">256</option>
							<option value="512">512</option>
							<option value="1024">1024</option>
							<option value="2048">2048</option>
						</select>
					</div>
				</div>
				<div class="row" style="margin-bottom: 2.4%;">
					<div class="col">
						<label class="white_font control-label col-sm" for="OS">Operating
							System<sup style="color: red">*</sup>
						</label> <select required="true" id="OS" name="OS"
							class="form-control custom-select" onchange="myFunction5()"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="1">Windows 10 Home</option>
							<option value="2">Windows 10 Pro</option>
							<option value="3">FREE-DOS</option>
						</select>

					</div>

					<div class="col">
						<label class="white_font control-label col-sm" for="CHIPSET">CHIPSET<sup
							style="color: red">*</sup></label> <select required="true" id="CHIPSET"
							name="CHIPSET" onchange="myFunction6()"
							class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="13">Gemini Lake Celeron N4000</option>
							<option value="11">AMD-R7</option>
							<option value="5">AMD-Ryzen-3</option>
							<option value="6">AMD-Ryzen-5</option>
							<option value="14">AMD-Ryzen-7</option>
							<option value="12">Celeron N4000</option>
							<option value="15">Intel i3 7th Gen</option>
							<option value="17">Intel i3 8th Gen</option>
							<option value="10">Intel i3 10th Gen</option>
							<option value="1">Intel i3 10th Gen - G1</option>
							<option value="20">Intel i5 6th Gen</option>
							<option value="16">Intel i5 8th Gen</option>
							<option value="7">Intel i5 9th Gen</option>
							<option value="21">Intel i5 9th Gen - 9300</option>
							<option value="22">Intel i5 9th Gen - 9400</option>
							<option value="8">Intel i5 10th Gen</option>
							<option value="2">Intel i5 10th Gen - G1</option>
							<option value="3">Intel i5 10th Gen - G4</option>
							<option value="9">Intel i7 8th Gen</option>
							<option value="23">Intel i7 9th Gen - 9750</option>
							<option value="24">Intel i7 9th Gen - 9850</option>
							<option value="18">Intel i7 10th Gen</option>
							<option value="4">Intel i7 10th Gen - G7</option>
							<option value="19">Intel i7 11th Gen</option>
						</select>
					</div>
				</div>
				<div class="row" style="margin-bottom: 2.4%;">
					<div class="col">
						<label class="white_font control-label col-sm" for="SCREEN_SIZE">Screen
							Size<sup style="color: red">*</sup>
						</label> <select required="true" id="SCREEN_SIZE" name="SCREEN_SIZE"
							onchange="myFunction7()" class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="10">10.1</option>
							<option value="13">13.3</option>
							<option value="14">14.0</option>
							<option value="15">15.6</option>
						</select>

					</div>
					<div class="col">
						<label class="white_font control-label col-sm" for="RESOLUTION">Resolution<sup
							style="color: red">*</sup></label> <select required="true"
							id="RESOLUTION" name="RESOLUTION" onchange="myFunction8()"
							class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="1">HD</option>
							<option value="2">FHD</option>
							<option value="3">FHD Touch</option>
							<option value="4">HD Touch</option>
							<option value="5">QHD</option>
							<option value="6">WQHD</option>
							<option value="7">WQHD Touch</option>
							<option value="8">FHD HDR</option>
							<option value="9">UHD</option>
							<option value="10">UHD Touch</option>
						</select>

					</div>
				</div>

				<div class="row" style="margin-bottom: 2.4%;">
					<div class="col">
						<label class="white_font control-label col-sm" for="GRAPHICS_CARD">Graphics<sup
							style="color: red">*</sup></label> <select required="true"
							id="GRAPHICS_CARD" onchange="myFunction9()" name="GRAPHICS_CARD"
							class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="1">Integrated</option>
							<option value="2">Integrated Vega 8</option>
							<option value="3">GTX 1650</option>
							<option value="4">GTX 1050</option>
							<option value="5">MX 230</option>
							<option value="6">Radeon Vega 8</option>
							<option value="7">Intel UHD</option>
							<option value="8">GTX 1650Ti</option>
							<option value="9">Integrated AMD Radeon Vega 3</option>
							<option value="10">Intel HD</option>
							<option value="11">MX 230</option>
							<option value="12">MX 110</option>
							<option value="13">MX 250</option>
							<option value="14">MX 150</option>
							<option value="15">AMD Radeon 540</option>
							<option value="16">940 MX</option>
						</select>

					</div>
					<div class="col">
						<label class="white_font control-label col-sm" for="GPU_MEMORY">Graphics
							Memory<sup style="color: red">*</sup>
						</label> <select required="true" id="GPU_MEMORY" onchange="myFunction10()"
							name="GPU_MEMORY" class="form-control custom-select"
							style="border-radius: 1.25rem; background-color: #fffed8;">
							<option value="">-- Select --</option>
							<option value="0">0</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>

					</div>
				</div>
				<div class="row" style="margin-top: 5%">

					<button type="submit" class="btn btn-success btn-block"
						style="border-radius: 1.25rem;">Submit</button>

				</div>

			</form>
		</div>
	</div>
	<footer> <a target="_blank"
		href="https://www.linkedin.com/in/gokul-krishnan-780b16172/?trk=public_profile_browsemap_mini-profile_title&originalSubdomain=in"><div
			class="social-footer">
			<div class="centr">
				<p style="text-align: center;">
					<img src="img/linkedin.jpg" style="text-align: center;"
						alt="linkedin" height="55" width="55">
				</p>
			</div>
		</div></a>
	<p style="text-align: center; padding-top: 60px;">
		<img class="rounded-circle" id="linkimage" src="img/pplogo-light.jpg"
			width="60px">
	</p>
	<span class="copyright">Price Predictor - Made with &hearts; in
		India</span> </footer>



	<script>

	var width =0;
	var c = [0,0,0,0,0,0,0,0,0,0];
	function myFunction1() {
	  var x = document.getElementById("prog");
	  
	  var val = document.getElementById("RAM").value;
		if(val!=""){
			if(c[0]==0)
			width+=10;
	 		 x.style.width = width+"%";
	 		c[0]++;
		}
		else{
			c[0]=0;
			width-=10;
			x.style.width = width+"%";
		}
	}
	function myFunction2() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("HDD").value;
		  if(val!=""){
				if(c[1]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[1]++;
			}
			else{
				c[1]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction3() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("SSD1").value;
		  if(val!=""){
				if(c[2]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[2]++;
			}
			else{
				c[2]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction4() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("SSD2").value;
		  if(val!=""){
				if(c[3]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[3]++;
			}
			else{
				c[3]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction5() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("OS").value;
		  if(val!=""){
				if(c[4]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[4]++;
			}
			else{
				c[4]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction6() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("CHIPSET").value;
		  if(val!=""){
				if(c[5]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[5]++;
			}
			else{
				c[5]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction7() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("SCREEN_SIZE").value;
		  if(val!=""){
				if(c[6]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[6]++;
			}
			else{
				c[6]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction8() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("RESOLUTION").value;
		  if(val!=""){
				if(c[7]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[7]++;
			}
			else{
				c[7]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction9() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("GRAPHICS_CARD").value;
		  if(val!=""){
				if(c[8]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[8]++;
			}
			else{
				c[8]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}
	function myFunction10() {
		  var x = document.getElementById("prog");
		  var val = document.getElementById("GPU_MEMORY").value;
		  if(val!=""){
				if(c[9]==0)
				width+=10;
		 		 x.style.width = width+"%";
		 		c[9]++;
			}
			else{
				c[9]=0;
				width-=10;
				x.style.width = width+"%";
			}
		}

	</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>